<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Breads | Bread Ballet</title>
        <link rel="icon" href="assets/img/kisspng-bakery-brunch-bread-icon-bread-5a98b1a9839131.1352693715199563935389.png">
        <link href="https://fonts.googleapis.com/css?family=Tajawal|Oleo+Script" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
        <link rel="stylesheet" href="assets/styles.css">
        <script src="assets/scripts.js"></script>
        </head>
    
    <body>
        <div class="navbar">
            <a class="tabs logo" href="index.html">Bread Ballet</a>
            <a class="tabs pages active" href="breads.html">Breads</a>
            <a class="tabs pages" href="contact.html">Contact</a>
            <a class="tabs pages" href="about.html">About Us</a>
            <a class="tabs pages" href="developer.html">Developer</a>
            <a class="tabs" href="javascript:void(0);" onclick="toggleMenu()">Menu <b id="menuCaret"><</b></a>
        </div>

        <div id="menu" class="sidemenu">
            <a class="tabs" href="index.html">Home</a>
            <a class="tabs active" href="breads.html">Breads</a>
            <a class="tabs" href="contact.html">Contact</a>
            <a class="tabs" href="about.html">About Us</a>
            <a class="tabs" href="developer.html">Developer</a>
            <div class="sideContact">
                <p>Write us<br><a href="mailto:support@breadballet.com">support@breadballet.com</a></p>
                <p>Call us<br>+012 345 6789</p>
                <p class="subtext">Mon-Fri 10:30-18:30</p>
            </div>
        </div>
        
        <div class="banner full-height">
            <img src="assets/img/pexels-photo-192933.jpg">
            <span>
                <h1>All the bread you'll ever need...</h1>
                <p>And more!</p>
            </span>
        </div>

        <div class="content">
                <div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div><div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div><div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div>
                <div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div><div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div><div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div>
            </div>

            <div class="content">
                <div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div><div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div><div class="third-width contentimg">
                    <img src="assets/img/pexels-photo-1070946.jpg">
                </div>
                <div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div><div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div><div class="third-width">
                    <h2>third-width</h2>
                    <p>paragraph</p>
                </div>
            </div>

        <div ng-app="ShoppingList" ng-cloak ng-controller="myCtrl" class="card">
            <h3 class="title">Shopping List</h3>
            <ul class="list">
                <li ng-repeat="x in products" class="item">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="float-right">×</span></li>
            </ul>
            
            <input placeholder="Add shopping items here" ng-model="addMe">
            <button ng-click="addItem()" >Add</button>
            <button>(out of) Order</button>
            <p class="errortext">{{errortext}}</p>
        </div>
        
        <div class="footer">
            <p>Write us<br><a href="mailto:support@breadballet.com">support@breadballet.com</a></p>
            <p>Call us<br>+012 345 6789</p>
            <p class="subtext">Mon-Fri 10:30-18:30</p>
        </div>
    </body>
</html>
