*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fadein{
    from{opacity:0};
    to{opacity:1};
}

h1{ font-weight: 600;}

h2{ font-weight: 600;}

h3{ font-weight: 600;}

h4{ font-weight: 600;}

h5{ font-weight: 600;}

h6{ font-weight: 600;}

p{
    margin-bottom: 1rem;
}

a{
    color: rgb(0, 81, 255);
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    z-index: 101;
    position: fixed;
    height: 5.1rem;
    width: 100%;
    padding: 0 10rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar .tabs{
    color: black;
    height: 100%;
    padding: 2rem 1rem;
    white-space: nowrap;
}

.navbar .logo{
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    white-space: nowrap;
}

.navbar .tabs:hover{
    border-bottom: 0.5rem solid rgb(255, 217, 0);
}

.navbar .active{
    border-bottom: 0.5rem solid rgb(255, 217, 0);
}

.sidemenu {
    height: 100%;
    width: 0rem;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: white;
    /* overflow-x: hidden; */
    padding-top: 5.1rem;
    transition: 0.5s;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
}

.sidemenu .tabs {
    padding: 2rem 1rem;
    color: black;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}

.sidemenu .tabs:hover {
    border-right: 0.5rem solid rgb(255, 217, 0);
}

.sidemenu .active{
    border-right: 0.5rem solid rgb(255, 217, 0);
}

.sideContact{
    padding: 2rem 1rem;
    white-space: nowrap;
}

.subtext{
    color: rgb(126, 126, 126);
}

.navCompensation{
    height: 5.1rem;
    width: 100%;
}

.banner{
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    position: relative;
}

.banner img{
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
}

.banner span{
    font-size: 150%;
    position: absolute;
    bottom: 15%;
    left: 10rem;
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.67);
}

.banner h1{
    font-family: 'Oleo Script', cursive;
    font-weight: normal;
}

.content{
    margin: 2rem 9rem;
}

.contentimg{
    overflow: hidden;
}

.contentimg img{
    width: 100%;
}

.full-width{
    width:100%;
    padding: 0 1rem;
}

.half-width{
    width: 50%;
    display: inline-block;
    padding: 0 1rem;
}

.third-width{
    width: 33.3%;
    display: inline-block;
    padding: 0 1rem;
}

.quarter-width{
    width: 25%;
    display: inline-block;
}

.full-height{
    height: 100%;
}

.half-height{
    height: 50%;
}

.footer{
    background-color: rgb(221, 221, 221);
    padding: 2rem 10rem;
}

.card{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 20rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.card .title{
    padding: 1rem;
    background-color: rgb(255, 217, 0);
    font-weight: 100;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card .list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card .item{
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* Media sizing and compatability: */

@media (max-width: 1280px){
    .navbar{
        padding: 0 5rem;
    }

    .banner span{
        left: 5rem;
    }

    .content{
        margin: 1rem 4rem;
    }

    .footer{
        padding: 1rem 5rem;
    }
}

@media (max-width: 1024px){
    .navbar{
        padding: 0 3rem;
    }

    .banner span{
        left: 3rem;
        font-size: 100%;
    }

    .content{
        margin: 1rem 2rem;
    }

    .footer{
        padding: 1rem 3rem;
    }
}

@media (max-width: 768px){
    .navbar{
        padding: 0 1rem;
    }

    .pages{
        display: none;
    }

    .banner span{
        left: 1rem;
    }

    .banner h1{
        font-size: 150%;
    }

    .content{
        margin: 1rem 0rem;
    }

    .footer{
        padding: 1rem 1rem;
    }
}

@media (max-width: 479px){
    .thin{
        width: 100%;
        display: block;
    }

}